* {
  font-family: "Roboto Serif";
}
.homepage {
  width: 100%;
  height: auto;
}

/* Statistics */

.homepage .static-frame {
  width: 100%;
  height: 236px;
  background-color: #343434;
}

.homepage .static-frame .info {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto Serif";
  text-align: center;
  color: rgb(215, 182, 134);
}

.homepage .static-frame .info .static-box {
  width: 200px;
  height: 116px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .static-frame .info .static-box .static-num {
  font-size: 54px;
  font-weight: 600;
  line-height: 80px;
}

.homepage .static-frame .info .static-box .static-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-transform: capitalize;
}
